
body,
.code {
	background: #1f1f1f;
	color: #ffffff;
	font-weight: bold;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

body,
pre {
	margin: 0; 
}

.overflow-y-0 {
	overflow-y: hidden;
}

.copybutton {
    position: sticky;
	top: 3%;
	left: 97%;
}

.code span.blue-text {
	color: #0d70cc;
}

.code span.gray-text {
	color: #7c7a7a;
}

.code span.orange-text {
	color: #f48108;
}

.code span.green-text {
	color: #73a733;
}

.code span.yellow-text {
	color: #fffa97;
}

.code span.purple-text {
	color: #bd72c8;
}

.code span.pink-text {
	color: #d21d5e;
}